---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<UNSPLASH_ACCESS_KEY>&query=denver,co%20skyline%20city
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=<UNSPLASH_ACCESS_KEY>&page=5938&query=denver%2Cco+skyline+city>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=<UNSPLASH_ACCESS_KEY>&page=2&query=denver%2Cco+skyline+city>;
        rel="next"
      X-Total:
      - '59376'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: '{"total":59376,"total_pages":5938,"results":[{"id":"CDJCAcAAPlU","created_at":"2019-04-02T18:45:36-04:00","updated_at":"2019-04-16T19:55:08-04:00","width":3729,"height":3729,"color":"#0C1612","description":"The
        gorgeous Victoria again, practicing in my home studio. We had SO MUCH FUN.\r\n\r\nyogagen.co\r\n\r\n@yogagenapp","alt_description":null,"urls":{"raw":"https://images.unsplash.com/photo-1554245064-3ab88761ac5d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjY2Njc0fQ","full":"https://images.unsplash.com/photo-1554245064-3ab88761ac5d?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjY2Njc0fQ","regular":"https://images.unsplash.com/photo-1554245064-3ab88761ac5d?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjY2Njc0fQ","small":"https://images.unsplash.com/photo-1554245064-3ab88761ac5d?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjY2Njc0fQ","thumb":"https://images.unsplash.com/photo-1554245064-3ab88761ac5d?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjY2Njc0fQ"},"links":{"self":"https://api.unsplash.com/photos/CDJCAcAAPlU","html":"https://unsplash.com/photos/CDJCAcAAPlU","download":"https://unsplash.com/photos/CDJCAcAAPlU/download","download_location":"https://api.unsplash.com/photos/CDJCAcAAPlU/download"},"categories":[],"sponsored":false,"sponsored_by":null,"sponsored_impressions_id":null,"likes":6,"liked_by_user":false,"current_user_collections":[],"user":{"id":"lT_ZgTsgKBk","updated_at":"2019-04-09T11:43:37-04:00","username":"yogagenapp","name":"madison
        lavern","first_name":"madison","last_name":"lavern","twitter_username":"yogagenapp","portfolio_url":"http://yogagen.co","bio":"yoga
        genie with an eye for balance\r\n@madisontothemoon\r\n","location":"Denver","links":{"self":"https://api.unsplash.com/users/yogagenapp","html":"https://unsplash.com/@yogagenapp","photos":"https://api.unsplash.com/users/yogagenapp/photos","likes":"https://api.unsplash.com/users/yogagenapp/likes","portfolio":"https://api.unsplash.com/users/yogagenapp/portfolio","following":"https://api.unsplash.com/users/yogagenapp/following","followers":"https://api.unsplash.com/users/yogagenapp/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-fb-1552286378-c53c05fc854f.jpg?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-fb-1552286378-c53c05fc854f.jpg?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-fb-1552286378-c53c05fc854f.jpg?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"yogagenapp","total_collections":0,"total_likes":0,"total_photos":8,"accepted_tos":true},"tags":[{"title":"wood"},{"title":"flooring"},{"title":"person"},{"title":"human"},{"title":"fitness"},{"title":"sports"},{"title":"stretch"},{"title":"floor"},{"title":"exercise"},{"title":"working
        out"},{"title":"sport"},{"title":"hardwood"},{"title":"yoga"},{"title":"denver,
        co"},{"title":"leisure activities"},{"title":"dance pose"},{"title":"dance"},{"title":"backbend"},{"title":"white"},{"title":"yogi"}]},{"id":"N_tcaOWTSQQ","created_at":"2018-03-16T14:30:45-04:00","updated_at":"2019-04-15T0[...]
