---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<UNSPLASH_ACCESS_KEY>&orientation=landscape&query=denver,co%20skyline%20city
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=<UNSPLASH_ACCESS_KEY>&orientation=landscape&page=3822&query=denver%2Cco+skyline+city>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=<UNSPLASH_ACCESS_KEY>&orientation=landscape&page=2&query=denver%2Cco+skyline+city>;
        rel="next"
      X-Total:
      - '38216'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: '{"total":38216,"total_pages":3822,"results":[{"id":"N_tcaOWTSQQ","created_at":"2018-03-16T14:30:45-04:00","updated_at":"2019-04-15T07:49:54-04:00","width":4983,"height":3322,"color":"#EFAB51","description":"Pikes
        Peak","alt_description":"landscape photography of black mountains","urls":{"raw":"https://images.unsplash.com/photo-1521224911436-5b591bffc321?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjY2Njc0fQ","full":"https://images.unsplash.com/photo-1521224911436-5b591bffc321?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjY2Njc0fQ","regular":"https://images.unsplash.com/photo-1521224911436-5b591bffc321?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjY2Njc0fQ","small":"https://images.unsplash.com/photo-1521224911436-5b591bffc321?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjY2Njc0fQ","thumb":"https://images.unsplash.com/photo-1521224911436-5b591bffc321?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjY2Njc0fQ"},"links":{"self":"https://api.unsplash.com/photos/N_tcaOWTSQQ","html":"https://unsplash.com/photos/N_tcaOWTSQQ","download":"https://unsplash.com/photos/N_tcaOWTSQQ/download","download_location":"https://api.unsplash.com/photos/N_tcaOWTSQQ/download"},"categories":[],"sponsored":false,"sponsored_by":null,"sponsored_impressions_id":null,"likes":46,"liked_by_user":false,"current_user_collections":[],"user":{"id":"n-LmmgqvQ7k","updated_at":"2019-03-24T04:49:16-04:00","username":"jbrown1276","name":"Jeff
        Brown","first_name":"Jeff","last_name":"Brown","twitter_username":"jbrown1276","portfolio_url":"http://www.jeffbrownphoto.com","bio":"Jeff
        Brown is a Chicago-based photographer currently focusing on commercial and
        portrait work. \r\nAnother Insta account I have is username @jbrown1276","location":"Chicago","links":{"self":"https://api.unsplash.com/users/jbrown1276","html":"https://unsplash.com/@jbrown1276","photos":"https://api.unsplash.com/users/jbrown1276/photos","likes":"https://api.unsplash.com/users/jbrown1276/likes","portfolio":"https://api.unsplash.com/users/jbrown1276/portfolio","following":"https://api.unsplash.com/users/jbrown1276/following","followers":"https://api.unsplash.com/users/jbrown1276/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-fb-1492788579-e070806fbd9c.jpg?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-fb-1492788579-e070806fbd9c.jpg?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-fb-1492788579-e070806fbd9c.jpg?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"jeffbrownphoto","total_collections":4,"total_likes":2,"total_photos":14,"accepted_tos":true},"tags":[{"title":"milky
        way"},{"title":"night"},{"title":"camping"},{"title":"leisure activities"},{"title":"nebula"},{"title":"outdoors"},{"title":"space"},{"title":"outer
        space"},{"title":"astronomy"},{"title":"galaxy"},{"title":"universe"},{"title":"united
        states"},{"title":"colorado springs"},{"title":"mountain range"},{"title":"light"},{"title":"long
        exposure"},{"title":"snow"},{"title":"star"},{"title":"blue"},{"title":"green"}]},{"id":"nJTM3aXrhFc","created_at":"2018-02-15T[...]
