---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?key=<GOOGLE_PLACES_API_KEY>&latlng=-22.3193039,-65.8306389
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "plus_code" : {
              "compound_code" : "M5J9+7P Cerrillos, Jujuy, Argentina",
              "global_code" : "579PM5J9+7P"
           },
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Yavi Department",
                       "short_name" : "Yavi Department",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Jujuy",
                       "short_name" : "Jujuy",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "Argentina",
                       "short_name" : "AR",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Yavi Department, Jujuy, Argentina",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : -22.0723387,
                          "lng" : -65.1887933
                       },
                       "southwest" : {
                          "lat" : -22.5793363,
                          "lng" : -65.96537339999999
                       }
                    },
                    "location" : {
                       "lat" : -22.2901385,
                       "lng" : -65.5707852
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : -22.0723387,
                          "lng" : -65.1887933
                       },
                       "southwest" : {
                          "lat" : -22.5793363,
                          "lng" : -65.96537339999999
                       }
                    }
                 },
                 "place_id" : "ChIJS9TWYdcbBJQRGjm53-E3-Gg",
                 "types" : [ "administrative_area_level_2", "political" ]
              },
              {
                 "address_components" : [
                    {
                       "long_name" : "Jujuy",
                       "short_name" : "Jujuy",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "Argentina",
                       "short[...]
